config.ini
static/tex-server/user_config.js
__pycache__/
static/pdfjs
static/main.pdf
static/main.synctex
static/main.synctex.gz
static/forward_map.json
static/reverse_map.json
static/file_map.json

# LaTeX build artifacts
*.aux
*.log
*.synctex.gz
*.synctex

# Test build artifacts
test/**/*.pdf
